@model IEnumerable<MoneyMate.Models.Currency.CurrencyListItem>

@{
    ViewBag.Title = "Currency Index";
}

<h1>Currency Index</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CurrencyId">Edit</a> | |
                    <a asp-action="Delete" asp-route-id="@item.CurrencyId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
