@model MoneyMate.Models.Expense.ExpenseDetail

@{
    string title = "Delete " + Model.Description;
    ViewData["Title"] = title;
}

<div class="container section-container">
    <h1>@title</h1>
    <h4>Are you sure you want to delete the expense "<strong>@Model.Description</strong>"?</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered mx-auto">
                <tr>
                    <th>Description</th>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <th>Amount</th>
                    <td>$@Model.Amount.ToString("0.00")</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>@Model.Date.ToString("MM/dd/yyyy")</td>
                </tr>
            </table>

            <form asp-action="DeleteConfirmed" method="post">
                @Html.HiddenFor(model => model.ExpenseId)
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
