@model MoneyMate.Models.Expense.ExpenseDetail

@{
    ViewData["Title"] = Model.Description;
}

<div class="detail-container">
    <h1>@Model.Description</h1>
    <h4>Expense Detail</h4>
    <hr />

    <table class="table">
        <tr>
            <th>Description</th>
            <td>@Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>$@Model.Amount.ToString("0.00")</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>@Model.Date.ToString("MM/dd/yyyy")</td>
        </tr>
        <tr>
            <th>Expense Category</th>
            <td>@Html.DisplayFor(model => model.ExpenseCategory)</td>
        </tr>
        <tr>
            <th>Payment Method</th>
            <td>@Html.DisplayFor(model => model.PaymentMethod)</td>
        </tr>
        <tr>
            <th>Currency</th>
            <td>@Html.DisplayFor(model => model.Currency)</td>
        </tr>
    </table>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.ExpenseId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
