@model MoneyMate.Models.ExpenseCategory.ExpenseCategoryDetail

@{
    string title = "Delete " + Model.CategoryName;
    ViewData["Title"] = title;
}

<div class="container">
    <h1>@title</h1>
    <h4>Are you sure you want to delete @Model.CategoryName?</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
                        <td>@Html.DisplayFor(model => model.CategoryId)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                        <td>@Html.DisplayFor(model => model.CategoryName)</td>
                    </tr>
                </tbody>
            </table>

            <form asp-action="Delete" method="post">
                @Html.HiddenFor(model => model.CategoryId)
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
