@model IEnumerable<MoneyMate.Models.ExpenseCategory.ExpenseCategoryListItem>

@{
    ViewBag.Title = "Expense Category Index";
}

<div class="container utility-container">
    <h1>Expense Category Index</h1>
    <hr />
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Category</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        <a asp-controller="ExpenseCategory" asp-action="ViewExpenses" asp-route-categoryId="@item.CategoryId">
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </a>
                    </td>
                    <td>
                        <div class="custom-margin">
                            <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-info btn-sm mr-2">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
