@model MoneyMate.Models.PaymentMethod.PaymentMethodDetail

<div class="container">
    <h1>Delete @Model.PaymentName</h1>

    <div class="row">
        <div class="col-md-6">
            <h4>Are you sure you want to delete @Model.PaymentName?</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-4">Payment ID:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PaymentId)</dd>
                <dt class="col-sm-4">Payment Name:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PaymentName)</dd>
            </dl>

            <form asp-action="Delete" method="post">
                @Html.HiddenFor(model => model.PaymentId)
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
